@font-face {
	font-family: "Roboto";
	src: url(../fonts/roboto.woff);
	src: url(../fonts/roboto.woff2);
	font-weight: 400;
}
@font-face {
	font-family: "Roboto";
	src: url(../fonts/robotomedium.woff);
	src: url(../fonts/robotomedium.woff2);
	font-weight: 500;
}
@font-face {
	font-family: "Roboto";
	src: url(../fonts/robotobold.woff);
	src: url(../fonts/robotobold.woff2);
	font-weight: 700;
}

body {
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 16px;
	line-height: 24px;
	background-color: #FFF;
}
.background_gray {
	width: 100%;
	background-color: #EEE;
}
.header {
	max-width: 1200px;
	margin: 0 auto;
	background-color: inherit;
}
.header__navigation {
	min-height: 114px;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
	text-transform: uppercase;
}
.navigation__logo {
	width: 13.3333333%;
	margin-right: auto;
}
.navigation__link {
	margin-bottom: 9px;
	width: 9.1041667%;
	min-width: 90px;
	font-weight: 500;
}
.navigation__basket {
	margin-bottom: 9px;
	width: auto;
	margin-left: 20.5%;
	font-weight: 500;
}
.navigation__basket:before {
	content: "";
	display: inline-block;
	width: 15px;
	height: 15px;
	background-image: url(../img/cart-icon.svg);
	margin: 0 25px -1px 0;
}
.wrapper {
	max-width: 1200px;
	margin: 0 auto;
}
.main {
	height: 431px;
	display: flex;
	max-width: 1200px;
	margin: 0 auto;
	background-color: #EEE;
}
.slide-text__header  {
	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
	max-height: 214px;
	width: auto;
	margin-top: 78px;
}
.slide-text__underheader {
	margin-top: 25px;
}
.slide-text__button {
	margin-top: 38px;
	width: 54.545455%;
	height: 11.60093%;
	background-color: #FB565A;
	border: 0;
	border-radius: 3px;
	text-transform: uppercase;
	color: #FFF;
}
.main__slide-picture {
	background-color: #EEE;
	max-width: 63.333333%;
	object-fit: contain;
}
.list {
	display: flex;
	flex-wrap: wrap;
	background-color: white;
	padding: 80px 0 0 0;
	height: auto;
	max-width: 100%;
}
.list__offer {
	min-height: 347px;
	max-width: 25%;
	margin: 0 12% 80px 0;
}
.list__offer:nth-child(3n) {
	margin-right: 0;
}
.offer__picture {
	margin-bottom: 25px;
	object-fit: contain;
}
.offer__header {
	text-transform: uppercase;
	margin: 0;
}
.offer__text {
	max-width: 260px;
	margin-bottom: 32px;
}
.offer__button {
	width: 53.333333%;
	height: 50px;
	border: none;
	border-radius: 3px;
	color: #FFF;
	text-transform: uppercase;
}
.offer__button:hover {

}
.offer__button:active {

}
.offer__button:focus {

}
.offer__button_web-sites {
	background-color: #FB565A;
}
.offer__button_apps {
	background-color: #00CA74;
}
.offer__button_presentations {
	background-color: #EFC849;
}

.underline {
	height: 2px;
	line-height: 0;
	background-color: #EEE;
	border: none;
	margin: 0;
	padding: 0 1px;
}

.about {
	display: grid;
	grid-template-columns: 7fr 3fr;
}
.about__advantages {
	margin: 73px 0;
}
.advantages__header {
	margin: 0 0 32px 0;
}
.advantages__text {
	margin-bottom: 40px;
}
.advantages__list {
	list-style: none;
	padding: 0;
}
.list__item {
	font-size: 16px;
	margin: 23px 0;
}
.list__item:before {
	display: inline-block;
	content: "";
	width: 25px;
	height: 2px;
	background-color: #FB565A;
	margin: 0 8px 5px 0;
}
.about__statistics {
	display: flex;
	flex-direction: column;
	margin: 40px 0 73px 0;
}
.statistics__picture {
	display: block;
	float: right;
	margin-bottom: 37px;
	object-fit: contain;
}
.statistics__list__header {
	text-transform: uppercase;
	margin: 0 auto;
}
.statistics__list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	list-style: none;
	padding: 0;
}
.statistics__list__advantage {
	width: 120px;
	height: 112px;
	display: flex;
	flex-direction: column;
}
.advantage__percent {
	margin: 0;
	font-size: 45px;
	line-height: 64px;
	font-weight: 700;
	width: auto;
}
.advantage__percent:after {
	content: "%";
	font-size: 26px;
	position: absolute;
	margin-top: -7px;
}
.advantage__description {
	margin: 0;
}

.partners {
	min-height: 180px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
}
.partners__link {
	display: flex;
	height: 180px;
	align-items: center;
	justify-content: center;
	width: 20%;
}
.link__logo:hover g,
.link__logo:hover rect{
	opacity: 1;
}
.link__logo:active g,
.link__logo:active rect{
	opacity: 0.1;
}
.partners__stick {
	transform: rotate(90deg);
	width: 52px;
	height: 2px;
	background-color: #EEE;
	border: none;
	margin: 0;
}

.location {
	height: 416px;
	margin: 80px auto 0 auto;
	max-width: 1520px;
	background-image: url(../img/map.png);
	background-repeat: no-repeat;
	background-position: center center;
	display: flex;
}
.location__adress-block {
	width: 219px;
	min-height: 204px;
	background-color: #FFF;
	padding: 50px;
	align-self: center;
	margin-left: 10.5%;
}
.location__header {
	text-transform: uppercase;
	font-size: 18px;
	line-height: 23px;
	margin-top: 0;
}
.location__adress-text {
	color: #666;
	line-height: 18px;
}
.write-us__button {
	text-transform: uppercase;
	height: 50px;
	width: 100%;
	border: none;
	color: white;
	background-color: #FB565A;
	border-radius: 3px;
	margin-top: 40px;
}
.footer {
	height: 217px;
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.footer__icon {
	width: 81px;
	height: 81px;
	background-color: #E1E1E1;
	border-radius: 50%;
	margin-right: 9px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.footer__sale {
	width: 55%;
	margin: 0 auto;
}
.footer__sale__header {
	font-size: 36px;
	margin: 0 0 10px 0;
}
.footer__sale__text {
	margin-top: 0;
}

/*Поп-ап*/

.location__popup {
	position: absolute;
	max-width: 960px;
	min-height: 590px;
	padding: 63px 100px 84px 100px;
	justify-content: center;
	display: grid;
	grid-template-rows: 53px 80px 145px;
	grid-row-gap: 34px;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 40px;
	background-color: #FFF;
}
.popup__header {
	grid-area: 1 / 1 / 2 / 3;
	margin: 0;
}
.popup__name {
	display: block;
	margin-top: 3px;
}
.name-input,
.email-input,
.letter-input {
	border: 2px solid #D7DCDE;
	border-radius: 3px;
}
.popup__email {
	display: block;
	margin-top: 3px;
}
.popup__text-block {
	grid-area: 3 / 1 / 4 / 3;
}
.popup__text {
	display: block;
}